.con__title{
  color: rgb(3, 77, 130);
  font-family: DM Sans, sans-serif;
  font-size: 43px;
  font-weight: 700;
  margin-bottom: 25px;
}

.con__sides{
  display: flex;
  justify-content: space-between;
}

.content{
  padding-top: 70px;
}

.con__text{
  color: rgb(144, 163, 180);
  font-family: DM Sans, sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 25px;
letter-spacing: 1px;
}

.col__text{
  color: rgb(144, 163, 180);
  font-family: DM Sans, sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 25px;

}

.col__img{
  width: 16.55px;
  height: 16.55px;
}

.con__link{
  color: rgb(4, 170, 221);
  font-family: DM Sans, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.col__texts{
  display: flex;
}

.con__img{
  width: 799.95px;
  height: 510.39px;
}


